
.navbar-brand {
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 20px;
    letter-spacing: 2px;
    text-shadow: 0px 2px 3px #000000;
}

.navbar-nav .nav-item {
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f3690d;
}


.navbar-dark .navbar-toggler {
    color: black;
}

.navbar-toggler:focus {
    box-shadow: none; 
}

@media (max-width: 1100px) {
    .navbar-dark .navbar-nav .nav-link {
        color: black;
    }

    .navbar-dark .navbar-brand {
        color: black;
        text-shadow: none;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:active {
        outline: none;
    }
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 500px;
}

.header-text {
    padding-top: 100px;
}

.header-name {
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 64px;
    letter-spacing: 4px;
    text-shadow: 0px 2px 3px #000000;
}

.header-subtext {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 18px;
}

@media (max-width: 550px) {
    .header-name {
        font-size: 44px;
    }

    .header-subtext {
        font-size: 16px;
    }

    .header-socials .list-inline-item .icons {
        font-size: 16px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: right;
        padding: 2px;
    }
}

.header-socials {
    padding-top: 10px;
}

.header-socials .icons {
    font-size: 18px;  
}

.portfolio-header {
    text-align: center;
    font-family: 'Raleway', Sans-Serif;
    font-size: 24px;
    letter-spacing: 4px;
}

.aspectRatioBox {
    padding-top: calc(2 / 3 * 100%);
    background-size: cover;
    background-position: center;
  }

  .project1-text {
      font-family: 'Raleway', Sans-Serif;
  }

  .project1-text a {
      text-decoration: none;
      font-weight:bolder;
      letter-spacing: 1px;
  }


  .project-date {
      font-size: 18px;
  }

  .project-subtext {
      font-family: 'Open Sans', Sans-Serif;;
  }

  @media (max-width: 992px) {
      .project-title {
          padding-top: 10px;
          margin: 0 !important;
      }

      .project-subtext {
          text-align: center;
      }

      .project1-text {
          text-align: center;
      }
  }


.title-divider {
    width: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;

}
